<h1>Add a new bookmark</h1>
<p>URL must be at least 5 characters and no more than 100
<br />
Name must be at least 3 characters and no more than 50</p>

<%= render 'form' %>

<%= link_to 'All bookmarks', bookmarks_path %>
