<header>

                <%= link_to "Bookmarks", bookmarks_path %>
                <%= link_to "Sign up", signup_path %></li>
                <%= link_to "Help", '#' %>
                <%= link_to "Search (Box)", '#' %>

</header>

